.slider {
  -webkit-appearance: none;
  max-width: 350px;
  width: 100%;
  height: 10px;
  border-radius: 5px;   
  background: #1B2B33;
  outline: none;
  margin-top: 50px;
  margin-bottom: 30px
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  cursor: pointer;
}
body{
  background: #EEF2F6;
  border: none;
  padding: 0 20px;
  font-size: 15px;
  color: #1B2B33;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slidecontainer{
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.slidecontainer p{
  font-weight: bold;
  padding: 8% 3%;
  background: #1B2B33;
  border-radius: 6px;
  color: #EB6069;
}
.slidecontainer p span {
  color: #E9B684
}
#info{
  max-width: 500px;
  text-align: center;
}
#box{
  max-width: 400px;
  width: 100%;
  height: 200px;
  min-height: 200px;
  background: white;
  border-radius: 9px;
  margin-top: 15px;
  box-shadow : 0 1px 2px rgba(0, 0, 0, 0.50), 0 1px 3px rgba(0, 0, 0, 0.46);
}

